<div class="container pb-cmnt-container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-info">
        <div class="card-block">
          <form class="form-inline" (submit)="onComment()">
<!--            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea form-control" [(ngModel)]="comment" name="comment" ></textarea>-->
            <input type="text" class="form-control pb-cmnt-textarea" placeholder="Enter Comment" [(ngModel)]="comment" name="comment">
            <div class="mt-1 mb-2 ml-2">
              <button class="btn btn-danger" type="submit">Post Comment</button>
            </div>
          </form>
        </div>
      </div>


      <!--        posted comments -->
      <div class="row" >
        <div class="col-md-12" *ngFor="let comment of loadedComments; let i = index">
          <div class="card-block">
          <div class="row" style="padding-left: 20px;">
            <div class="col-md-8">
              <b>{{i+1}}.&nbsp; &nbsp;{{comment.author.username}}</b> <br>
              {{comment.text}}
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-link" style="height: 20px;color: green" (click)="upvote(comment)">
                <img src="../../../assets/like.png" alt="" style="height: 20px;"> {{comment.upvote.length}} upvote
              </button>
              <button type="submit" class="btn btn-link" style="height: 20px; color: red" (click)="downvote(comment)">
                <img src="../../../assets/dislike.png" alt="" style="height: 20px;"> {{comment.downvote.length}} downvote
              </button>
              <br>
            </div>
          </div>
        </div>
          <br>
        </div>
      </div>

    </div>
  </div>
</div>

<style>
  .pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
    z-index: -1;
    /*margin-left: 100px;*!*/
  }

  .pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
  }
</style>
