<div class="container pb-cmnt-container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-info">
        <div class="card-block">
          <form class="form-inline" (submit)="onComment()">
<!--            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea form-control" [(ngModel)]="comment" name="comment" ></textarea>-->
            <input type="text" class="form-control pb-cmnt-textarea" placeholder="Enter Comment" [(ngModel)]="comment" name="comment">
            <div class="mt-1 mb-2 ml-2">
              <button class="btn btn-danger" type="submit">Post Comment</button>
            </div>
          </form>
        </div>
      </div>


      <!--        posted comments -->
      <div class="row" >
        <div class="col-md-12" *ngFor="let comment of loadedComments">
          <div class="row" style="padding-left: 20px;">
            <div class="col-md-10">
              {{comment.author}} <br>
              {{comment.text}}
            </div>
            <div class="col-md-2">
              <button type="submit" (click)="upvote()">
                <img src="../../../assets/like.png" alt="" style="height: 25px;">{{comment.upvote.length}} <br>
              </button>
              <button type="submit" (click)="downvote()">
                <img src="../../../assets/dislike.png" alt="" style="height: 15px;margin-right: 5px;margin-left: 5px;">{{comment.downvote.length}}
              </button>
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<style>
  .pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
  }

  .pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
  }
</style>
